#all{
	width: 1000px;
}
.a{
	float: left;
	width: 75%;
	height: 200px;
	color: yellow;
	
}
.x{
	float: right;
	width: 25%;
	height: 200px;
	color: pink;
}
.aa{
	width: 50%;
	height: 30%;
}
.mot{
	float: left;
}
.hai{
	float: right;
}
.motb{
	float: left;
	color: green;
}

*{
	
}